.navbar {
    background-color: #fff;
    padding:0px;
    height:0rem;

  }
  
  .menu-bars {
    /* margin-left: 9rem; */
    font-size:2rem;
    background: none;
    position:relative;
    bottom:1.5rem;
  }
  .menu-close{
    margin-top:2.5rem;
    margin-left: 5rem;
    margin-bottom:2rem;
    font-size:2rem;
    background: none;
  }
  .navbar-toggle a:hover{
    color:white;
  }
  .nav-menu {
    background-color: black;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 1000ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 600ms;
  }
  
  .nav-text {
    display: flex;

    align-items: flex-start;
    padding: 8px 0px 8px 4rem;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #8c8c8c;
    transition:500ms;
  }
  
  .nav-menu-items {
    padding-left:0;
    padding-right:4rem;
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: black;
    width: 10%;
    height: 80px;
    display: flex;
    align-items: flex-start;
  }
  
  span {
    margin-left: 16px;
  }
  .sidebar-icon{
    margin-left:1rem;
  }