.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  font-family: "B612", sans-serif;
}
a:hover {
  text-decoration: none;
  color: white;
}
.content {
  font-family: "B612", sans-serif;
  background-color: black;
}

/*FACULTY CARDS*/
.Faculty {
  padding-top: 6.25rem;
  padding-bottom: 5.75rem;
  background-color: white;
}
.faculty-card {
  display: inline-block;
  margin: 2.5rem 5rem;
}

.faculty-heading {
  font-size: 4.5rem;
}

/*CAROUSEL*/
.Carousel {
  width: 45%;
  margin: 5rem 2rem 10rem 0;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
}

.carousel-image {
  height: 27.5rem;
  border-radius: 10px;
}
.top {
  margin-top: 7.5rem;
  margin-bottom: 0px;
  background-color: white;
}

.query-form {
  width: 30%;
  padding: 4rem 2.75rem;
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: 3.2rem;
  margin-left: 2rem;
  border-radius: 10px;
}

.welcome {
  padding: 5rem 9rem;
  color: white;
  text-align: left;
}
.welcome-subheading {
  color: #8c8c8c;
}
.welcome-heading {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}
.welcome-content {
  color: #8c8c8c;
}
.flaticons {
  margin-top: 2rem;
}
.flaticon-card {
  text-align: center;
  display: inline-block;
  height: 10rem;
  width: 16.5rem;
  margin: 0 1rem;
  background-color: black;
  padding: 2rem 0 3rem;
  border-radius: 5rem;
}

.flaticon-image img {
  height: 100px;
  width: 100px;
  margin-bottom: 2rem;
}
.flaticon-about {
  margin-top: 1rem;
  color: #8c8c8c;
}

.blog,
.download {
  background-color: white;
  padding: 3.5rem 2%;
  width: 40%;
  border-radius: 1rem;
  margin: 12rem 2rem 12rem;
  color: black;
  display: inline-block;
}
.blog button,
.download button {
  padding-right: 2rem;
  margin-top: 3rem;
  color: white;
  background-color: black;
}

.button-icon {
  margin-right: 1rem;
}
.blog button:hover,
.download button:hover {
  background-color: rgb(209, 209, 209);
  transition: 500ms;
  color: black;
}

.header {
  position: fixed;
  z-index: 16;
  top: 0;
  height: 7.5rem;
  width: 100%;
  color: #000;
  padding-top: 2.5rem;

  background-color: white;
}

.header-link1 {
  position: absolute;
  top: 3rem;
  right: 17.5rem;
}
.header-link2 {
  position: absolute;
  top: 3rem;
  right: 9rem;
}
.header a:hover {
  color: black;
}
.brandName {
  font-size: 40px;
  display: inline-block;
  color: black;
  margin-right: 6rem;
  position: absolute;
  top: 2.4rem;
  left: 39.75%;
  font-family: "Vollkorn", serif;
}

.footer {
  font-family: "B612", sans-serif;
  height: 650px;
  margin: auto;
  padding: 6rem 2rem 3rem;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: #8c8c8c;
}
.row-heading {
  margin-bottom: 1rem;
}
.row-heading {
  font-size: 30px;
  padding-left: 0.75rem;
}
.row-links {
  color: #8c8c8c;
  margin: 0;
}
.quick-links {
  display: inline-block;
  text-align: left;
}
.brand-footer {
  text-align: left;
  margin: 50px 50px 150px 0;
}
/*ICONS AT THE BOTTOM*/
.icon-links {
  margin: auto 0rem auto 10rem;
  display: inline-block;
  text-align: right;
  width: 300px;
  position: relative;
  top: 5rem;
}
.icons:hover {
  color: white;
}
.icons {
  margin: 15px 35px 15px 0;
  color: #8c8c8c;
}
.copyright {
  color: #8c8c8c;
}

/******************** CONTACT PAGE **************************/
.contact-content {
  margin-top: 7.5rem;
  color: black;
  text-align: left;
  padding: 3rem 9rem 7.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-row {
  margin: 3.5rem 0 0 0;
}
.contact-heading {
  color: black;
  margin-bottom: 5rem;
  font-size: 4.5rem;
  text-align: center;
}
.contact-about {
  display: inline-block;
  width: 40%;
  font-size: 25px;
  margin-right: 35%;
}
.contact-image {
  width: 15%;
  margin-left: 5rem;
  position: relative;
  bottom: 1rem;
  display: inline-block;
}
.contact-column {
  background-color: black;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 2rem 3rem 2rem 0;
}
.contact-type {
  color: white;
  margin-bottom: 1.5rem;
}
.contact-detail {
  color: #8c8c8c;
  margin-bottom: 0.75rem;
}


/**************************ACHIEVERS PAGE*********************************/
.achievement {
  margin-top: 7.5rem;
  background-color: black;
}
.achievers-card {
  display: inline-block;
  margin: 30px 100px 30px 0px;
}

.particles-js {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.achievers-heading {
  padding-top: 2rem;
   padding-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  color: white;
}



/****************************CONTACT AND ABOUT PAGE***********************************/
.course-body,
.about-body {
  padding: 10.5rem 10% 7.5rem;
  width: 100%;
  text-align: left;
}
.course-heading,
.about-heading {
  margin-bottom: 5rem;
  font-size: 4.5rem;
  text-align: center;
}
.course-paragraph,
.about-paragraph {
  display: inline-block;
  width: 60%;
  margin-right: 10rem;
  margin-left: 1rem;
}
.main-image,
.course-main-image {
  width: 15%;
  margin-left: 5rem;
  position: relative;
  bottom: 1rem;
  display: inline-block;
}
.course-card {
  width: 47%;
  background-color: black;
  color: white;
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  margin: 3rem 1rem 1rem 1rem;
  display: inline-block;
}

.card-heading {
  margin-bottom: 2rem;
}
.card-subheading {
  margin-bottom: 2rem;
}
.card-about {
  width: 50%;
  color: #8c8c8c;
  display: inline-block;
}
/* .card-content{
  
} */
.card-image {
  display: inline-block;
  width: 30%;
  /* height:7.5rem; */
  position: relative;
  left: 5rem;
  bottom: 3rem;
}
