.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  font-family: "B612", sans-serif;
}
a:hover {
  text-decoration: none;
  color: white;
}
.content {
  font-family: "B612", sans-serif;
  background-color: black;
}

/*********************************FACULTY CARDS*************************/
.Faculty {
  padding-top: 6.25rem;
  padding-bottom: 5.75rem;
  background-color: white;
}
.faculty-card {
  display: inline-block;
  margin: 2.5rem 5rem;
}

.faculty-heading {
  font-size: 4.5rem;
}

/******************************************CAROUSEL***********************/
.Carousel {
  width: 45%;
  margin: 5rem 2rem 10rem 0;
  display: inline-block;
  background-color: white;
  border-radius: 10px;
}

.carousel-image {
  height: 27.5rem;
  border-radius: 10px;
}
.top {
  margin-top: 7.5rem;
  margin-bottom: 0px;
  background-color: white;
}
/************************QUERY FORM**************************/
.query-form {
  width: 30%;
  padding: 4rem 2.75rem;
  display: inline-block;
  text-align: left;
  position: relative;
  bottom: 3.2rem;
  margin-left: 2rem;
  border-radius: 10px;
}
.query-form button {
  background-color: black;
  color: white;
}
.query-form button:hover {
  background-color: rgb(209, 209, 209);
  color: black;
}

/***********************Welcome Section*************************/
.welcome {
  padding: 4rem 10rem;
  color: white;
  text-align: left;
}
.welcome-subheading {
  color: #8c8c8c;
}
.welcome-heading {
  font-size: 4.5rem;
  margin-bottom: 2rem;
}
.welcome-content {
  color: #8c8c8c;
}
.flaticons {
  margin-top: 2rem;
}
.flaticon-card {
  text-align: center;
  display: inline-block;
  height: 10rem;
  width: 16.5rem;
  margin: 0 1rem;
  background-color: black;
  padding: 2rem 0 3rem;
  border-radius: 5rem;
}

.flaticon-image img {
  height: 100px;
  width: 100px;
  margin-bottom: 2rem;
}
.flaticon-about {
  margin-top: 1rem;
  color: #8c8c8c;
}

/*********************************Know more about us************************/
.blog-download {
  padding: 4rem 6rem;
}
.download-main-heading {
  font-size: 4.5rem;
  color: white;
  margin-bottom: 3.5rem;
}
.blog,
.download {
  background-color: white;
  padding: 3.5rem 2%;
  width: 35%;
  border-radius: 1rem;
  margin: 1rem 2rem 5rem;
  color: black;
  display: inline-block;
}
.blog button,
.download button {
  padding-right: 2rem;
  margin-top: 3rem;
  color: white;
  background-color: black;
}

.button-icon {
  margin-right: 1rem;
}
.blog button:hover,
.download button:hover {
  background-color: rgb(209, 209, 209);
  transition: 500ms;
  color: black;
}
/**********************************HEADER**************************************/
.header {
  position: fixed;
  z-index: 16;
  top: 0;
  height: 7.5rem;
  width: 100%;
  color: #000;
  padding: 0 10rem;
  /* padding-top: 2.5rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

/* .header-link1 {
  position: absolute;
  top: 3rem;
  right: 17.5rem;
}
.header-link2 {
  position: absolute;
  top: 3rem;
  right: 9rem;
} */
.header a:hover {
  color: black;
}
.brandName {
  font-size: 2.5rem;
  font-weight: bold;
  display: inline-block;
  color: black;
  /* margin-right: 6rem; */
  /* position: absolute; */
  /* top: 2.4rem;*/
  position: relative;
  left: 2rem;
  flex-grow: 3;
  font-family: "Vollkorn", serif;
}
/*************************FOOTER**************************/
.footer {
  font-family: "B612", sans-serif;
  height:650px;
  margin: auto;
  padding: 6rem 10rem 3rem;
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: #8c8c8c;
}
.row-heading {
  margin-bottom: 1rem;
}
.row-heading {
  font-size: 30px;
  
}
.row-links {
  color: #8c8c8c;
  margin: 0;
}
.quick-links {
  display: inline-block;
  text-align: left;
  position:absolute;
  left:10rem;
}
.brand-footer {
  text-align: left;
  /* font-family: "Vollkorn", sans-serif; */
  margin: 50px 50px 150px 0;
}
/*ICONS AT THE BOTTOM*/
.icon-links {
  /* margin: auto 0rem auto 10rem; */
  display: inline-block;
  /* text-align: right; */
  width: 300px;
  position: absolute;
  bottom:10rem;
  right:10rem;
}
.icons:hover {
  color: white;
}
.icons {
  margin: 15px 35px 15px 0;
  color: #8c8c8c;
}
.copyright {
  color: #8c8c8c;
}

/**************************ACHIEVERS PAGE*********************************/
/* .achievement {
  margin-top: 7.5rem;
  background-color: black;
} */
.achievers-card {
  display: inline-block;
  margin: 2rem 3.5rem;
  text-align: center;
}

.particles-js {
  position: fixed;
  height: 100vh;
  width: 100vw;
}
/* .achievers-heading {
  padding-top: 2rem;
   padding-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  color: black;
} */

.achievers-card-section {
  margin-top: 3rem;
}
.achiever-title {
  font-weight: bold;
}
.achiever-image {
  height: 20rem;
}

/****************************CONTACT,achievement,course AND ABOUT PAGE***********************************/
.course-body,
.about-body,
.achievement,
.contact-body {
  padding: 10.5rem 10% 7.5rem;
  width: 100%;
  text-align: left;
}
.course-heading,
.about-heading,
.achievers-heading,
.contact-heading {
  margin-bottom: 5rem;
  font-size: 4.5rem;
  text-align: center;
}
.course-paragraph,
.about-paragraph,
.achievers-paragraph,
.contact-paragraph {
  display: inline-block;
  width: 60%;
  margin-right: 10rem;
  margin-left: 1rem;
}
.main-image,
.course-main-image,
.achievers-main-image,
.contact-main-image {
  width: 15%;
  margin-left: 5rem;
  position: relative;
  bottom: 1rem;
  display: inline-block;
}
.course-card,
.contact-card {
  width: 47%;
  background-color: black;
  color: white;
  height: 22.5rem;
  padding: 2.5rem 3rem;
  border-radius: 1rem;
  margin: 3rem 1rem 1rem 1rem;
  display: inline-block;
}

.card-heading {
  margin-bottom: 2rem;
}
.card-subheading {
  margin-bottom: 2rem;
}
.card-about {
  width: 50%;
  color: #8c8c8c;
  display: inline-block;
}
/* .card-content{
  
} */
.card-image {
  display: inline-block;
  width: 30%;
  /* height:7.5rem; */
  position: relative;
  left: 5rem;
  bottom: 3rem;
}
.contact-card {
  height: 17.5rem;
}
.contact-card-detail {
  display: inline-block;
  width: 70%;
  color: #8c8c8c;
}
.contact-card-image {
  display: inline-block;
  width: 20%;
}
.contact-card-image img {
  position: relative;
  bottom: 4rem;
  left: 3rem;
  width: 100%;
}
.card-image-3 {
  position: relative;
  top: 0rem;
}





/**********************Login page*******************/
.login-body,.registration-body{
  margin:7.5rem auto;
  padding:2rem 9rem 7rem;
  text-align:center;
}
.login-form,.registration-form{
  width:50%;
  padding:0rem 0;
  margin:auto;
}
/*************************************Optimize for smaller screens************************************************/
@media only screen and (max-width: 1350px) {
  .top {
    margin-top: 3rem;
  }
  .Carousel {
    width: 100%;
    height: 620px;
    border-radius: 0;
    margin-bottom: 5rem;
    margin-right: 0px;
  }
  .carousel-image {
    border-radius: 0;
    height: 620px;
  }
  .query-form {
    width: 80%;
    padding: 1rem 2.75rem;
  }
  .query-form h3 {
    font-size: 3rem;
    text-align: center;
  }
  .welcome {
    padding: 4rem 5rem;
    text-align: center;
  }

  .welcome-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .flaticons {
    margin-top: 2rem;
  }
  .flaticon-card {
    text-align: center;
    display: inline-block;
    height: 10rem;
    width: 16.5rem;
    margin: 0 1.5rem;
    padding: 2rem 0 3rem;
    border-radius: 5rem;
  }

  .flaticon-image img {
    height: 100px;
    width: 100px;
    margin-bottom: 2rem;
  }
  .flaticon-about {
    margin-top: 1rem;
  }
  .Faculty {
    padding: 3rem 4rem;
  }
  .faculty-card {
    display: inline-block;
    margin: 2rem 2rem;
  }

  .faculty-heading {
    font-size: 3rem;
  }
  .blog-download {
    padding: 4rem 6rem;
  }
  .download-main-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .blog,
  .download {
    padding: 3.5rem 5%;
    width: 80%;
    margin: 1rem 2rem 2rem;
  }
  .blog button,
  .download button {
    margin-top: 2rem;
  }

  /***********************************************FOOTER*******************************************************/
  .footer {
    padding: 6rem 6rem 3rem;
  }
  .quick-links {
    position:absolute;
    left:6rem;
  }
  /*ICONS AT THE BOTTOM*/
  .icon-links {
    position: absolute;
    bottom:10rem;
    right:4rem;
  }
  
  /****************************COURSE, ACHIEVEMENT AND ABOUT PAGE***********************************/

  .course-body,
  .about-body,
  .achievement,
  .contact-body {
    padding: 10.5rem 10% 5rem;
    width: 100%;
    text-align: center;
  }
  .course-heading,
  .about-heading,
  .achievers-heading,
  .contact-heading {
    margin-bottom: 5rem;
    font-size: 3rem;
    text-align: center;
  }
  .course-paragraph,
  .about-paragraph,
  .achievers-paragraph,
  .contact-paragraph {
    display: inline-block;
    width: 45%;
    text-align: right;
    margin-right: 20%;
    margin-left: 1rem;
  }
  .main-image,
  .course-main-image,
  .achievers-main-image,
  .contact-main-image {
    width: 25%;
    margin-left: 0rem;
    position: relative;
    bottom: 7.5rem;
    display: inline-block;
  }
  .course-card,
  .contact-card {
    width: 80%;
    padding: 2.5rem 3rem;
    border-radius: 1rem;
    margin: 2rem auto 0rem;
    display: inline-block;
    text-align: left;
  }
  .card-heading {
    margin-bottom: 2rem;
  }
  .card-subheading {
    margin-bottom: 2rem;
  }
  .card-about {
    width: 50%;
  }
  .card-image {
    display: inline-block;
    width: 25%;
    position: relative;
    left: 8rem;
    bottom: 4rem;
  }
  .contact-card {
    height: 17.5rem;
  }
  .contact-card-detail {
    display: inline-block;
    width: 70%;
  }
  .contact-card-image {
    display: inline-block;
    width: 20%;
  }
  .contact-card-image img {
    position: relative;
    bottom: 4rem;
    left: 3rem;
    width: 100%;
  }
  .card-image-3 {
    position: relative;
    top: 0rem;
  }
  .contact-main-image {
    position: relative;
    top: 0rem;
  }
  .contact-paragraph {
    margin-bottom: 8rem;
  }

  /********************Achievers page*******************/
  .achievers-card {
    display: inline-block;
    margin: 2rem 3.5rem;
    text-align: center;
  }

  .particles-js {
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  /* .achievers-heading {
  padding-top: 2rem;
   padding-top: 3rem;
  margin-bottom: 3rem;
  font-size: 4.5rem;
  color: black;
} */

  .achievers-card-section {
    margin-top: 3rem;
  }
  .achiever-title {
    font-weight: bold;
  }
  .achiever-image {
    height: 20rem;
  }
}

/**********************Optimize for mobiles************************/
@media only screen and (max-width: 720px) {
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  * {
    font-family: "B612", sans-serif;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
  .content {
    font-family: "B612", sans-serif;
    background-color: black;
  }

  /*********************************FACULTY CARDS*************************/
  .Faculty {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
  }
  .faculty-card {
    display: inline-block;
    margin: 1.5rem 1rem;
  }
  .faculty-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  /******************************************CAROUSEL***********************/
  .Carousel {
    width: 100%;
    margin: 7.7rem 0rem 0rem 0;
    display: inline-block;
    background-color: white;
    border-radius: 0px;
  }

  .carousel-image img {
    height: 100%;
    border-radius: 0px;
  }
  .top {
    margin-top: 0rem;
    margin-bottom: 0px;
    background-color: white;
  }
  /************************QUERY FORM**************************/
  .query-form {
    width: 90%;
    padding: 6rem 0rem 3rem;
    margin-left: 0rem;
    border-radius: 10px;
  }
  .query-form button {
    background-color: black;
    color: white;
  }
  .query-form button:hover {
    background-color: rgb(209, 209, 209);
    color: black;
  }

  /***********************Welcome Section*************************/
  .welcome {
    padding: 4rem 2rem;
    color: white;
    text-align: center;
  }
  .welcome-subheading {
    color: #8c8c8c;
  }
  .welcome-heading {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .welcome-content {
    color: #8c8c8c;
    text-align: center;
  }
  .flaticons {
    margin-top: 1rem;
  }
  .flaticon-card {
    text-align: center;
    display: inline-block;
    height: 10rem;
    width: 10.5rem;
    margin: 0 1rem;
    background-color: black;
    padding: 2rem 0 3rem;
    border-radius: 5rem;
  }

  .flaticon-image img {
    height: 100px;
    width: 100px;
    margin-bottom: 2rem;
  }
  .flaticon-about {
    margin-top: 1rem;
    color: #8c8c8c;
  }

  /*********************************Know more about us************************/
  .blog-download {
    padding: 4rem 1rem;
  }
  .download-main-heading {
    font-size: 3rem;
    color: white;
    margin-bottom: 3.5rem;
  }
  .blog,
  .download {
    background-color: white;
    padding: 3.5rem 2% 2rem;
    width: 90%;
    border-radius: 1rem;
    margin: 1rem 1rem 2rem;
    color: black;
    display: inline-block;
  }
  .blog button,
  .download button {
    padding-right: 2rem;
    margin-top: 3rem;
    color: white;
    background-color: black;
  }

  .button-icon {
    margin-right: 1rem;
  }
  .blog button:hover,
  .download button:hover {
    background-color: rgb(209, 209, 209);
    transition: 500ms;
    color: black;
  }
  /**********************************HEADER**************************************/
  .header {
    position: fixed;
    z-index: 16;
    top: 0;
    height: 7.5rem;
    width: 100%;
    color: #000;
    padding: 0 2rem;
    /* padding-top: 2.5rem; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }

  /* .header-link1 {
    position: absolute;
    top: 3rem;
    right: 17.5rem;
  }
  .header-link2 {
    position: absolute;
    top: 3rem;
    right: 9rem;
  } */
  .header a:hover {
    color: black;
  }
  .brandName {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    color: black;
    width:200px;
    /* margin-right: 6rem; */
    /* position: absolute; */
    /* top: 2.4rem;*/
    position: relative;
    left: 1rem;
    flex-grow: 2;
    font-family: "Vollkorn", serif;
  }
  /*************************FOOTER**************************/
  .footer {
    font-family: "B612", sans-serif;
    height:650px;
    margin: auto;
    text-align:center;
    padding: 6rem 1rem 3rem;
    background-color: black;
    color: white;
  }
  a {
    text-decoration: none;
    color: #8c8c8c;
  }
  .row-heading {
    margin-bottom: 1rem;
  }
  .row-heading {
    font-size: 30px;
    
  }
  .row-links {
    color: #8c8c8c;
    margin: 0;
  }
  .quick-links {
    display: inline-block;
    text-align: center;
    position:inherit;
    margin-bottom:4rem;
  }
  .brand-footer {
    /* font-family: "Vollkorn", sans-serif; */
    text-align:center;
    margin: 50px 0px 80px 0;

  }
  /*ICONS AT THE BOTTOM*/
  .icon-links {
    /* margin: auto 0rem auto 10rem; */
    display: inline-block;
    /* text-align: right; */
    width: 300px;
    position: inherit;
   
  }
  .icons:hover {
    color: white;
  }
  .icons {
    margin: 15px 10px 15px 20px;
    color: #8c8c8c;
  }
  .copyright {
    color: #8c8c8c;
  }

  /**************************ACHIEVERS PAGE*********************************/
  /* .achievement {
    margin-top: 7.5rem;
    background-color: black;
  } */
  .achievers-card {
    display: inline-block;
    margin: 2rem 3.5rem;
    text-align: center;
  }

  .particles-js {
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  /* .achievers-heading {
    padding-top: 2rem;
     padding-top: 3rem;
    margin-bottom: 3rem;
    font-size: 4.5rem;
    color: black;
  } */

  .achievers-card-section {
    margin-top: 3rem;
  }
  .achiever-title {
    font-weight: bold;
  }
  .achiever-image {
    height: 20rem;
  }

  /****************************CONTACT,achievement,course AND ABOUT PAGE***********************************/
  .course-body,
  .about-body,
  .achievement,
  .contact-body {
    padding: 10.5rem 5% 7.5rem;
    width: 100%;
    text-align: center;
  }
  .course-heading,
  .about-heading,
  .achievers-heading,
  .contact-heading {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  .course-paragraph,
  .about-paragraph,
  .achievers-paragraph,
  .contact-paragraph {
    display: inline-block;
    width: 80%;

    text-align: center;
    margin: 2rem auto;
  }
  .main-image,
  .course-main-image,
  .achievers-main-image,
  .contact-main-image {
    width: 25%;
    margin-left: 5rem;
    position: relative;
    bottom:0rem;
    right:2rem;
    display: inline-block;
  }
  .course-card,
  .contact-card {
    width: 95%;
    background-color: black;
    color: white;
    height: 19.5rem;
    padding: 2.5rem 1rem 0rem 2rem;
    border-radius: 1rem;
    margin: 2rem 1rem 1rem 1rem;
    display: inline-block;
  }

  .card-heading {
    margin-bottom: 2rem;
  }
  .card-subheading {
    margin-bottom: 2rem;
  }
  .card-about {
    width: 50%;
    font-size:12px;
    color: #8c8c8c;
    display: inline-block;
  }
  /* .card-content{
    
  } */
  .card-image {
    display: inline-block;
    width: 20%;
    /* height:7.5rem; */
    position: relative;
    left: 5rem;
    bottom: 2rem;
  }
  .contact-card {
    height: 15rem;
  }
  .contact-card-detail {
    display: inline-block;
    width:70%;
    color: #8c8c8c;
  }
  .contact-card-about{
    font-size: 12px;
  }
  .contact-card-image {
    display: inline-block;
    width: 20%;
  }
  .contact-card-image img {
    position: relative;
    bottom: 3rem;
    left: 1rem;
    width: 100%;
  }
  .card-image-3 {
    position: relative;
    top: 0rem;
  }
}


